<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/navigation.css">
    <title>Registration</title>
    <style>
        body{
            text-align: center;
        }
        form{
            background: wheat;
            padding: 20px;
            margin-top: 50px;
        }
        input{
            width: 150px;
            height: 20px;
        }
        button{
            width: 100px;
            height: 40px;
        }
    </style>
</head>
<body>
<nav th:fragment="navbar">
    <ul class="navbar">
        <li><a th:href="@{/users}">Users</a></li>
        <li><a th:href="@{/register}">Registration</a></li>
    </ul>
</nav>
    <form th:action="@{/reg_post}" method="post" th:object="${account}">
        <div>
            <input th:field="*{login}" type="text" placeholder="enter login" />
            <div th:if="${#fields.hasErrors('login')}"  th:errors="*{login}"></div>
        </div>


        <br />
        <br />
        <input th:field="*{password}" type="password" placeholder="enter password"  />
        <div th:if="${#fields.hasErrors('password')}"  th:errors="*{password}"></div>
        <br />
        <br />
        <input name="repeatPassword" type="password" placeholder="repeat password"  />

        <br />
        <br />
        <input th:field="*{email}" type="email" placeholder="enter email"  />
        <div th:if="${#fields.hasErrors('email')}"  th:errors="*{email}"></div>
        <br />
        <br />
        <button type="submit"> Registration </button>
    </form>
</body>
</html>